/* Body and Fonts */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #e0eafc, #cfdef3);
  color: #333;
}

h1,
h2,
h3 {
  font-weight: normal;
}

p {
  line-height: 1.6;
}

/* Header */
header {
  background: #4b79a1;
  background: linear-gradient(to right, #283e51, #4b79a1);
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.logo img {
  border-radius: 50%;
}

/* Sections */
section {
  padding: 60px 20px;
  text-align: center;
}

section h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

/* Cards */
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.card {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 30px;
  max-width: 300px;
  flex: 1;
}

.card h3 {
  margin-top: 0;
}

.card p {
  color: #666;
}

/* Badges */
.badges {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.badge {
  background: #4b79a1;
  background: linear-gradient(to right, #283e51, #4b79a1);
  color: #fff;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 30px;
  font-size: 1em;
}

/* Footer */
footer {
  background: #283e51;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
  .cards {
    flex-direction: column;
  }
}
