body, html {
    height: 100%;
    margin: 0;
  }
  
  .bgimg {
    background-image: url("https://images.rawpixel.com/image_social_landscape/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0zNzgtMDkta255OWZoM2IuanBn.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: rgba(255, 255, 255, 0.848);
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
  }
  
  .topleft {
    position: absolute;
    top: 16px;
    left: 16px;
  }
  
  .bottomleft {
    position: absolute;
    bottom: 16px;
    left: 16px;
  }
  
  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  hr {
    margin: auto;
    width: 40%;
  }
  